.hot-proposition {
  font-family:'Montserrat Extra Bold',sans-serif;
  position: relative;
  font-weight:800;
  &:before {
    text-align: center;
    color:#fff;
    content: "hot";
    font-size:10px;
    font-weight:700;
    position:absolute;
    width:37px;
    height:17px;
    top:0;
    right:0;
    background-color: #de3d30;
    border-radius:8px 8px 8px 0;
  }
}


.btn {
  font-family:'Montserrat-Bold',sans-serif;
  font-weight:700;
  height:50px;
}

.btn-green {
  @include button-variant(#fff,#8dc63f,#8dc63f);
}

.visibility-hidden {
  visibility: hidden;
}
