@font-face{ font-family: 'Open Sans';
  src: url('/app/fonts/OpenSans-regular.ttf');
}

@font-face{ font-family: 'Montserrat-Regular';
  src: url('/app/fonts/Montserrat-Regular.otf');
}

@font-face{ font-family: 'Montserrat-Bold';
  src: url('/app/fonts/Montserrat-Bold.otf');
}

@font-face{ font-family: 'Montserrat Extra Bold';
  src: url('/app/fonts/Montserrat-ExtraBold.otf');
}

@font-face{ font-family: 'Montserrat Semi Bold';
  src: url('/app/fonts/Montserrat-SemiBold.otf');
}
